
@font-face {
    font-family: 'AudreyBold';
    src: local('AudreyBold'), url(./fonts/Audrey-Bold) format('otf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
  
@font-face {
    font-family: 'AudreyBoldOblique';
    src: local('AudreyBoldOblique'), url(./fonts/Audrey-BoldOblique) format('otf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'Audrey';
    src: local('Audrey'), url(./fonts/Audrey-Normal) format('otf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                                'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'AudreyOblique';
    src: local('AudreyOblique'), url(./fonts/Audrey-NormalOblique) format('otf');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }